.fb-seacrch-bar {
    height: 40px;
    display: flex;
  
    color: var(--c-color-bg-tertiary);
    border: 1px solid var(--c-color-bg-primary);
  }
  
  .fb-seacrch-bar input,
  button {
    border: 1 solid var(--c-color-card-border);
  }
  
  .fb-seacrch-bar input {
    width: 100%;
    font-size: 16px;
    padding: 0 10px;
    color: var(--c-color-font-secondary);
  }
  
  .fb-seacrch-bar input:focus {
    outline: none;
  }
  
  .fb-seacrch-bar input::placeholder {
    color: var(--c-color-font-placeholder);
  }
  
  .fb-seacrch-bar button {
    width: 40px;
    color: var(--c-color-font-secondary);
  }
  
  .fb-seacrch-bar button[type="submit"] {
    border-radius: none;
    border-radius: 8px 0 0 8px;
  }
  
  .fb-seacrch-bar button[type="reset"] {
    border-radius: none;
    border-radius: 0 8px 8px 0;
  }