.fb-nav-container {
    height: 80px;
    background-color: var(--c-color-bg-secondary);
    width: 100%;
    padding: 0 20px;
    display: flex;
    align-items: center;
  }
  
  .fb-nav-main {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .fb-nav-main h1 {
    color: var(--c-color-bg-primary);
    font-size: 16px;
    font-weight: 700;
  }
  
  .fb-nav-main a,
  a:hover {
    font-size: 15px;
    font-weight: 700;
    text-decoration: none;
    color: var(--c-color-bg-primary);
  }