
.product-image{
  padding: 10px;
  display: flex;
  justify-content: center;
}

.product-image img{
  width: 220px;
  padding: 20px;
}


.product-description{
  padding: 10px 20px;
}

.product-description h3{
  color: var(--c-color-font-primary);
  font: 20px;
}

.product-description h4{
  color: var(--c-color-font-secondary);
  font-size: 14px;
}

.product-description p{
  color: var(--c-color-font-secondary);
  padding: 10px 0;
  font-size: 12px;
}


.product-category-container{
  display: flex;
  flex-wrap: wrap;
}

.product-category{
  background-color: var(--c-color-font-secondary);
  color: var(--c-color-font-tertiary);

  font-size: 12px;
  font-weight: 700;
  
  padding: 0px 20px;
  margin-right: 20px;
  margin-bottom: 10px;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 4px;
  height: 30px;
}